// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.h-screen{
    height: 100vh;
}

span{
    font-size: 20px;
}

.icon-envelope-open:before {
    margin-right: 12px;
}

.fa-user:before {
    margin-right: 12px;
}
.fa-envelope-open-text:before {
    margin-right: 12px;
}

.fa-university:before {
    margin-right: 12px;
}

.fa-map-marked-alt:before {
    margin-right: 5px;
}

.fa-comment-alt:before {
    margin-right: 12px;
}
