.container {
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 10px;
    border-radius: 2%;
}

.table {
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
    margin: 1px;
    padding: 1px;
}

.table tr {
    background-color: white;
}

.table th, .table td {
    font-size: 14px;
    padding: 8px;
    text-align: left;
}

.table thead th{
    font-size: 12px;
    font-family: 'Roboto','sans-serif';
    background-color: white;
}
/* la tabla hace el quiebre en 600px */

@media screen and (max-width: 600px) {
    .table {
        border: 0px;
    }
    .table caption {
        font-size: 22px;
    }
    .table thead {
        display: none;
    }
    .table tr {
        margin-bottom: 10px;
        border-bottom: 6px solid #bbb;
        display: block;
        padding: 4px;
    }
    .table th, .table td {
        font-size: 12px;
    }
    .table td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .table  td:last-child {
        border-bottom: 0px;
    }
    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        float: left;
    }

}
